# =========================
# Node Modules
# =========================
node_modules/

# =========================
# Environment Files
# =========================
.env
.env.*
!.env.example

# =========================
# Next.js
# =========================
.next/
out/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Docker
# =========================
docker-data/

# =========================
# Prisma
# =========================
generated/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Coverage
# =========================
coverage/